body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 0px;
  background-color: black;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar .title {
  font-size: 1.2rem;
}


.main-container{
  /* flex-direction: column; */
  width: 400px;
  margin: auto;
  /* display: flex; */
  /* align-items: center; */
  /* align-content: center; */
}

.postCreate-container{
  width: 200px;
}

.postCreate-area{
  width: 200px;
}
.post{
  border: 2px solid black;
  border-radius: 10px;
}