  <section class='postCreate-container'>
    <textarea class='postCreate-area'></textarea>
    <button class='postCreate-btn'>submite</button>
  </section>
  <section class='post-container'>
			<article class='post'>
				<span class='post-name'>othman</span>
        <p class='post-body'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit reprehenderit, dolorum adipisci neque doloribus enim libero minima veniam, possimus fugiat quos nobis numquam, distinctio inventore. Exercitationem maiores repellendus voluptate ea.</p>
        <div class='post-commentbox'>
          <form method="POST" action="/comment/create">
            <input class='post-comment-input' type="text" name='comment'>
            <button class='post-comment-btn' >submite</button>
          </form>
        </div>
			</article>
	</section>