  <section class='postCreate-container'>
    <textarea class='postCreate-area'></textarea>
    <button class='postCreate-btn'>create post</button>
  </section>
  <section class='post-container'>
      {{#each obj}}
			<article class='post'>
				<span class='post-name'>{{post_name}}</span>
        <p class='post-body'>{{post_body}}</p>
        <div class='comment-container'>
        {{#each comments}}
          <div class='comment'>
            <span class='comment-name'>{{name}} : </span>
            <span class='comment-body'>{{comment_body}}</span>
          </div>
        {{/each}}
        </div>
          <form class='comment-form' method="POST" action="/comment/create">
            <input class='comment-form-input' type="text" name='comment'>
            <button class='comment-form-btn' >comment</button>
          </form>
			</article>
      {{/each}}
	</section>