	
  <section>
    
  </section>
  <section class='posts'>
			<article class='post'>
				<span class='post-name'></span>
        <p class='post-body'></p>
        <div class='post-commentbox'>
          <form method="POST" action="/comment/create">
            <input class='post-comment-input' type="text" name='comment'>
            <button class='post-comment-btn' ></button>
          </form>
        </div>
			</article>
	</section>