<section class='login-container'>
  <form method="POST" action="/login">
    <input class='sign-input login-email' type="text" name='email'>
    <input class='sign-input login-password' type="password" name='password'>
    <button class='post-comment-btn' >submit</button>
  </form>
</section>