<section class='signup-container'>
  <form method="POST" action="/signup">
    <input class='sign-input signup-name' type="text" name='name'>
    <input class='sign-input signup-email' type="text" name='email'>
    <input class='sign-input signup-password' type="password" name='password'>
    <button class='post-comment-btn' >submit</button>
  </form>
</section>