<nav class='navbar'>
    <span class='nav-name'></span>
    <a href='/' class='nav-title'>bloger</a>
  <div class='right'>
    <a href="/login" class='nav-login'>login</a>
    <a href="/signup" class='nav-signup'>signup</a>
  </div>
</nav>