
<!DOCTYPE html>
<html>
  {{> head}}
<body>
  {{> nav}}
  <main class='main-container'>
    {{{body}}}
  </main>
  <script src="/public/js/dom.js"></script>
{{#if js}}
  <script src="/js/{{js}}"></script>
{{/if}}
</body>
</html>
